<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AULA 09// CHECKBOX</title>
</head>
<body>
    <div id="app">
        <input type="checkbox" value="jack" id="Jack" v-model="CheckedNames">

        <label for="jack">Jack</label>
        <input type="checkbox" value="john" id="John" v-model="CheckedNames">

        <label for="jack">John</label>
        <input type="checkbox" value="mike" id="Mike" v-model="CheckedNames">

        <label for="mike">Mike</label> <br>

        <span>Checked names: {{CheckedNames | json}}</span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var app = new Vue({
             el:"#app",
            data: {CheckedNames: []}
        });
    </script>

</body>
</html>